h1{
	text-align: center;
	color: red;
	text-decoration: underline;
}

#elon{
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 20px;
}

.leftBox{
	float:left;
}

.child{
	float:right;
}

nav{
	float: right;
}

h3{
	text-align: center;
	text-decoration: underline;
}

p{
	color: blue;
}

.rightBox{
	float: right;
}